<table class="table table-bordered table-striped">
  <caption>Personal-Info</caption>
  <thead>
  <tr>
    <th><a href="javascript:void(0)">Name</a></th>
    <th><a href="javascript:void(0)">DOB</a></th>
    <th><a href="javascript:void(0)">Street Address</a></th>
    <th><a href="javascript:void(0)">City</a></th>
    <th><a href="javascript:void(0)">State</a></th>
    <th><a href="javascript:void(0)">Zipcode</a></th>
    <th><a href="javascript:void(0)">Salary</a></th>
    <th><a href="javascript:void(0)">Education Level</a></th>
    <th><a href="javascript:void(0)">FICO</a></th>
    <th><a href="javascript:void(0)">Mortgage</a></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let personalinfo of personalinfos">
    <td><span>{{personalinfo.name}}</span></td>
    <td><span>{{personalinfo.DOB}}</span></td>
    <td><span>{{personalinfo.streetaddress}}</span></td>
    <td><span>{{personalinfo.city}}</span></td>
    <td><span>{{personalinfo.state}}</span></td>
    <td><span>{{personalinfo.zipcode}}</span></td>
    <td><span>{{personalinfo.salary}}</span></td>
    <td><span>{{personalinfo.educationlevel}}</span></td>
    <td><span>{{personalinfo.fico}}</span></td>
    <td><span>{{personalinfo.mortgage}}</span></td>
    <td>
      <button class="btn btn-danger" (click)="deletePersonalInfo(personalinfo)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<div class="container">
  <div>
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="name"
                 [(ngModel)]="personalinfo.name" name="name">
        </div>
      </div>

      <div class="form-group">
        <label for="DOB">DOB:</label>
        <div class="input-group">
          <input type="date" class="form-control" id="DOB"
                 [(ngModel)]="personalinfo.DOB" name="DOB">
        </div>
      </div>

      <div class="form-group">
        <label for="streetaddress">Street Address:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="streetaddress"
                 [(ngModel)]="personalinfo.streetaddress" name="streetaddress">
        </div>
      </div>

      <div class="form-group">
        <label for="city">City:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="city"
                 [(ngModel)]="personalinfo.city" name="city">
        </div>
      </div>

      <div class="form-group">
        <label for="state">State:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="state"
                 [(ngModel)]="personalinfo.state" name="state">
        </div>
      </div>

      <div class="form-group">
        <label for="zipcode">Zipcode:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="zipcode"
                 [(ngModel)]="personalinfo.zipcode" name="zipcode">
        </div>
      </div>

      <div class="form-group">
        <label for="salary">Salary:</label>
        <div class="input-group">
          <input type="number" class="form-control" id="salary"
                 [(ngModel)]="personalinfo.salary" name="salary">
        </div>
      </div>

      <div class="form-group">
        <label for="educationlevel">Education Level:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="educationlevel"
                 [(ngModel)]="personalinfo.educationlevel" name="educationlevel">
        </div>
      </div>

      <div class="form-group">
        <label for="fico">fico:</label>
        <div class="input-group">
          <input type="number" class="form-control" id="fico"
                 [(ngModel)]="personalinfo.fico" name="fico">
        </div>
      </div>

      <div class="form-group">
        <label for="mortgage">Mortgage:</label>
        <div class="input-group">
          <input type="number" class="form-control" id="mortgage"
                 [(ngModel)]="personalinfo.mortgage" name="mortgage">
        </div>
      </div>
      <button type="button" class="btn btn-default" (click)="addPersonalInfo()">Add Personal Info</button>
    </form>
  </div>
  <div class="row">
    <app-update-personal-info></app-update-personal-info>
  </div>
</div>
