<table class="table table-bordered table-striped">
  <caption>Savings Transaction</caption>
  <thead>
  <tr>
    <th><a href="javascript:void(0)">Date</a></th>
    <th><a href="javascript:void(0)">Description</a></th>
    <th><a href="javascript:void(0)">Type</a></th>
    <th><a href="javascript:void(0)">Status</a></th>
    <th><a href="javascript:void(0)">Amount</a></th>
    <th><a href="javascript:void(0)">Action</a></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let savingstransaction of savingstransactions">
    <td><span>{{savingstransaction.date}}</span></td>
    <td><span>{{savingstransaction.description}}</span></td>
    <td><span>{{savingstransaction.type}}</span></td>
    <td><span>{{savingstransaction.status}}</span></td>
    <td><span>{{savingstransaction.amount}}</span></td>
    <td>
      <button class="btn btn-danger" (click)="deleteSavingsTransaction(savingstransaction)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>


<div class="container">
  <div>
    <form>
      <div class="form-group">
        <label for="date">Date:</label>
        <div class="input-group">
          <input type="date" class="form-control" id="date"
                 [(ngModel)]="savingstransaction.date" name="date">
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="description"
                 [(ngModel)]="savingstransaction.description" name="description">
        </div>
      </div>
      <div class="form-group">
        <label for="type">Type:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="type"
                 [(ngModel)]="savingstransaction.type" name="type">
        </div>
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="status"
                 [(ngModel)]="savingstransaction.status" name="status">
        </div>
      </div>
      <div class="form-group">
        <label for="amount">Amount:</label>
        <div class="input-group">
          <input type="number" class="form-control" id="amount"
                 [(ngModel)]="savingstransaction.amount" name="amount">
        </div>
      </div>
      <button type="button" class="btn btn-default" (click)="addSavingsTransaction()">Add Savings Transaction</button>
    </form>
  </div>
  <div class="row">
    <app-update-savingstransaction></app-update-savingstransaction>
  </div>
</div>
