<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-fluid">
      <div class="navbar-header">
      <a class="navbar-brand" href="#">Bank</a>
    </div>
    <ul class="nav navbar-nav" *ngIf="this.authService.loggedIn | async">
      <li>
        <a routerLink="/ho" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/ac" routerLinkActive="active">Accounts</a>
      </li>
      <li>
        <a routerLink="/tr" routerLinkActive="active">Transaction</a>
      </li>
      <li>
        <a routerLink="/pe" routerLinkActive="active">Personal-Info</a>
      </li>
    </ul>
    </div>
  </nav>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
