<table class="table table-bordered table-striped">
  <caption>Primary Account</caption>
  <thead>
  <tr>
    <th><a href="javascript:void(0)">Account_Number</a></th>
    <th><a href="javascript:void(0)">Account_Balance</a></th>
    <th><a href="javascript:void(0)">Action</a></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let primaryaccount of primaryaccounts">
    <td><span>{{primaryaccount.primaryAccountNumber}}</span></td>
    <td><span>{{primaryaccount.primaryAccountBalance}}</span></td>
    <td>
      <button class="btn btn-danger" (click)="deletePrimaryAccount(primaryaccount)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<table class="table table-bordered table-striped">
  <caption>Savings Account</caption>
  <thead>
  <tr>
    <th><a href="javascript:void(0)">Account_Number</a></th>
    <th><a href="javascript:void(0)">Account_Balance</a></th>
    <th><a href="javascript:void(0)">Action</a></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let savingsaccount of savingsaccounts">
    <td><span>{{savingsaccount.savingsAccountNumber}}</span></td>
    <td><span>{{savingsaccount.savingsAccountBalance}}</span></td>
    <td>
      <button class="btn btn-danger" (click)="deleteSavingsAccount(savingsaccount)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<div class="flexContainer">
  <div>
    <form>
      <div class="form-group">
        <label for="primaryAccountNumber">Account_Number</label>
        <div class="input-group">
          <input type="number" class="form-control" id="primaryAccountNumber"
                 [(ngModel)]="primaryaccount.primaryAccountNumber" name="primaryAccountNumber">
        </div>
      </div>
      <div class="form-group">
        <label for="primaryAccountBalance">Account_Balance</label>
        <div class="input-group">
          <input type="number" class="form-control" id="primaryAccountBalance"
                 [(ngModel)]="primaryaccount.primaryAccountBalance" name="primaryAccountBalance">
        </div>
      </div>
      <button type="button" class="btn btn-default" (click)="addPrimaryAccount()">Add Primary Account</button>
    </form>
  </div>
  <div>
    <form>
      <div class="form-group">
        <label for="savingsAccountNumber">Account_Number</label>
        <div class="input-group">
          <input type="number" class="form-control" id="savingsAccountNumber"
                 [(ngModel)]="savingsaccount.savingsAccountNumber" name="savingsAccountNumber">
        </div>
      </div>
      <div class="form-group">
        <label for="savingsAccountBalance">Account_Balance</label>
        <div class="input-group">
          <input type="number" class="form-control" id="savingsAccountBalance"
                 [(ngModel)]="savingsaccount.savingsAccountBalance" name="savingsAccountBalance">
        </div>
      </div>
      <button type="button" class="btn btn-default" (click)="addSavingsAccount()">Add Savings Account</button>
    </form>
  </div>
</div>
