<div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">Id: </label>
      <div class="input-group">
        <input type="number" class="form-control" id="id" [(ngModel)]="personalinfo.id" name="id">
      </div>
    </div>

    <div class="form-group">
      <label for="name">Name: </label>
      <div class="input-group">
        <input type="text" class="form-control" id="name" [(ngModel)]="personalinfo.name" name="name">
      </div>
    </div>

    <div class="form-group">
      <label for="DOB">DOB: </label>
      <div class="input-group">
        <input type="date" class="form-control" id="DOB" [(ngModel)]="personalinfo.DOB" name="DOB">
      </div>
    </div>

    <div class="form-group">
      <label for="streetaddress">Street Address: </label>
      <div class="input-group">
        <input type="text" class="form-control" id="streetaddress" [(ngModel)]="personalinfo.streetaddress" name="streetaddress">
      </div>
    </div>

    <div class="form-group">
      <label for="city">City: </label>
      <div class="input-group">
        <input type="text" class="form-control" id="city" [(ngModel)]="personalinfo.city" name="city">
      </div>
    </div>

    <div class="form-group">
      <label for="state">State: </label>
      <div class="input-group">
        <input type="text" class="form-control" id="state" [(ngModel)]="personalinfo.state" name="state">
      </div>
    </div>

    <div class="form-group">
      <label for="zipcode">Zipcode: </label>
      <div class="input-group">
        <input type="text" class="form-control" id="zipcode" [(ngModel)]="personalinfo.zipcode" name="zipcode">
      </div>
    </div>

    <div class="form-group">
      <label for="salary">Salary: </label>
      <div class="input-group">
        <input type="number" class="form-control" id="salary" [(ngModel)]="personalinfo.salary" name="salary">
      </div>
    </div>

    <div class="form-group">
      <label for="educationlevel">Education Level: </label>
      <div class="input-group">
        <input type="text" class="form-control" id="educationlevel" [(ngModel)]="personalinfo.educationlevel" name="educationlevel">
      </div>
    </div>

    <div class="form-group">
      <label for="fico">FICO: </label>
      <div class="input-group">
        <input type="number" class="form-control" id="fico" [(ngModel)]="personalinfo.fico" name="fico">
      </div>
    </div>

    <div class="form-group">
      <label for="mortgage">Mortgage: </label>
      <div class="input-group">
        <input type="number" class="form-control" id="mortgage" [(ngModel)]="personalinfo.mortgage" name="mortgage">
      </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
