<div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">Id:</label>
      <div class="input-group">
        <input type="number" class="form-control" id="id" [(ngModel)]="primarytransaction.id" name="id">
      </div>
    </div>

    <div class="form-group">
      <label for="date">Date:</label>
      <div class="input-group">
        <input type="date" class="form-control" id="date" [(ngModel)]="primarytransaction.date" name="date">
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <div class="input-group">
        <input type="text" class="form-control" id="description" [(ngModel)]="primarytransaction.description" name="description">
      </div>
    </div>

    <div class="form-group">
      <label for="type">Type:</label>
      <div class="input-group">
        <input type="text" class="form-control" id="type" [(ngModel)]="primarytransaction.type" name="type">
      </div>
    </div>

    <div class="form-group">
      <label for="status">Status:</label>
      <div class="input-group">
        <input type="text" class="form-control" id="status" [(ngModel)]="primarytransaction.status" name="status">
      </div>
    </div>

    <div class="form-group">
      <label for="amount">Amount:</label>
      <div class="input-group">
        <input type="number" class="form-control" id="amount" [(ngModel)]="primarytransaction.amount" name="amount">
      </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
