<table class="table table-bordered table-striped">
  <caption>Primary Transaction</caption>
  <thead>
  <tr>
    <th><a href="javascript:void(0)">Date</a></th>
    <th><a href="javascript:void(0)">Description</a></th>
    <th><a href="javascript:void(0)">Type</a></th>
    <th><a href="javascript:void(0)">Status</a></th>
    <th><a href="javascript:void(0)">Amount</a></th>
    <th><a href="javascript:void(0)">Action</a></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let primarytransaction of primarytransactions">
    <td><span>{{primarytransaction.date}}</span></td>
    <td><span>{{primarytransaction.description}}</span></td>
    <td><span>{{primarytransaction.type}}</span></td>
    <td><span>{{primarytransaction.status}}</span></td>
    <td><span>{{primarytransaction.amount}}</span></td>
    <td>
      <button class="btn btn-danger" (click)="deletePrimaryTransaction(primarytransaction)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>


<div class="container">
  <div>
    <form>
      <div class="form-group">
        <label for="date">Date:</label>
        <div class="input-group">
          <input type="date" class="form-control" id="date"
                 [(ngModel)]="primarytransaction.date" name="date">
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="description"
                 [(ngModel)]="primarytransaction.description" name="description">
        </div>
      </div>
      <div class="form-group">
        <label for="type">Type:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="type"
                 [(ngModel)]="primarytransaction.type" name="type">
        </div>
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="status"
                 [(ngModel)]="primarytransaction.status" name="status">
        </div>
      </div>
      <div class="form-group">
        <label for="amount">Amount:</label>
        <div class="input-group">
          <input type="number" class="form-control" id="amount"
                 [(ngModel)]="primarytransaction.amount" name="amount">
        </div>
      </div>
      <button type="button" class="btn btn-default" (click)="addPrimaryTransaction()">Add Primary Transaction</button>
    </form>
  </div>
  <div class="row">
    <app-update-primarytransaction></app-update-primarytransaction>
  </div>
</div>
